#submain>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    
}
#submain{
 width: 55%;
 height: auto;
/* border: 1px solid red;  */
 margin: auto;
 padding: 10px;
}
input{
 padding: 10px;
 font-style:italic;
}
.name{
 display: grid;
 width:45%;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}

.lastname{
display: grid;
width:45%;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}

#frstform{
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
 margin-top: 10px;
}
.mail{
 display: grid;
 width:45%;
 margin-bottom: 20px;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}
.pass{
 display: grid;
 width:45%;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}
.conpass{
display: grid;
width:45%;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;


}
#lastform{
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}
#secondsubmain{
 margin-bottom: 30px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 
}
.al{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-weight: bold;
}
#thirdsubmain{
 margin-bottom: 35px;
}
#fourthsubmain{
 border: 1px solid rgb(218, 211, 211);
 padding: 10px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
}
span+input{
display: block;
width: 95%;
}
#head{
 margin-top: 40px;
 font-size: 20px;
 
}
#head>h2{
    font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-weight: bold;  
}

.robort{
 margin-top: 30px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 font-weight: bold;

}
#capcha{
 width: 25%;
 height: auto;
 display: flex;
 border: 1px solid rgb(184, 183, 183);
 justify-content: space-evenly;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;


}
#capcha>#cap{
 width: 38px;
 height: 38px;
 margin: auto;
}
#capcha>#robocheck{
margin: auto;
}
#capcha>p{
    font-size: 15px;
    margin: auto;
}

#submit{
 width: 50%;
 background-color: #2b2f59;
 color: white;
 font-style: normal;
 font-size: 20px;
 margin-top: 20px;
 
}

.consultant{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.tok>.SweetAlt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.tek>.Sweet{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* here */
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
#startbar{
    width:100%;
    height: 60px;
    background-color: #202340;
    text-align: center;
    color: white;

}
#text{
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#text>span{
font-size: 20px;
text-decoration: none;
}
#text>span>a{
text-decoration: none;
color: white;
}
#text>span>a:hover{
   text-decoration: underline;
}

#nav{
    height: 120px;
    width: 100%;
    /* border: 1PX SOLID rgb(241, 0, 0); */
    background-color:rgba(197, 200, 220, 0.5) ;


}

#row1{
    display: flex;
    justify-content: space-between;
}

#row1>DIV>img{
    height: 100%;
    width: 100%;
    /* border: 1px s/lid rgb(0, 0, 0); */     
}
#row1{
    height: 50%;
    width: 100%;
    /* border: 1px solid blue; */

}
#row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

}
#icon{
    display: flex;
    justify-content: space-between;
}
#categ{
    width: 20%;
    height: 100%;
    /* border: 1px solid green; */
}
#Homeitem{
    display: flex;
    width: 45%;
    /* border: 1px solid green; */
    height: 100%;
    justify-content: space-between;
    margin-left: 30px;
}
#Homeitem>p>a{
    font-size: 16px;
    font-stretch: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;  
    color: rgb(0, 0, 0);
    
      }
#icon{
    width: 30%;
    /* border: 1px solid green; */
    height: 100%;
    justify-content: space-around;
}
#icon>img{
    width: 40px;
}
#categ>img{
    width: 30px;
}
#row1>div:nth-child(2){
    display: flex;
    width: 40%;
    margin-bottom: 1%;

}
#row1>div:nth-child(2)>input{
    width: 90%;
    border-radius:20px;
    height: 70%;
    margin-top: 5px;
    direction: none;
    border: 1px solid black;
    font-size: 20px;
    
}
#row1>div:nth-child(2)>div>img{
    margin-top: 5px;
    width: 80%;
    height: 80%;
}
#row1>div:nth-child(2)>div{
    /* background-color: red; */
    border-radius: 20px;
}

/* here */

#header{
    position: relative;
}
#submain{
    position: absolute;
    top:30%;
    left: 22%;
  
}

/* p */

.css-tooltip{
    position: relative;
    
  }
  .css-tooltip:hover:after{
    content:attr(data-tooltip);
    background:rgb(18, 17, 17);
    padding:5px;
    border-radius:3px; 
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-100%); 
    margin:0 auto;
    color:#FFF;
    min-width:100px;
    min-width:150px;
    top:-5px;
    left: 50%;
    text-align:center;
  }
  .css-tooltip:hover:before {
    top:-5px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 5px;
    margin-left: -5px;
         transform: translate(0,0px); 
  }
  
