h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
}
#submain{
 width: 55%;
 height: auto;
/* border: 1px solid red;  */
 margin: auto;
 padding: 10px;
}
input{
 padding: 10px;
 font-style:italic;
}
.name{
 display: grid;
 width:45%;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}

.lastname{
display: grid;
width:45%;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}

#frstform{
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}
.mail{
 display: grid;
 width:45%;
 margin-bottom: 20px;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}
.pass{
 display: grid;
 width:45%;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}
.conpass{
display: grid;
width:45%;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;


}
#lastform{
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}
#secondsubmain{
 margin-bottom: 30px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 
}
h2{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
    color: rgb(78, 74, 74);
}
#thirdsubmain{
 margin-bottom: 35px;
}
#fourthsubmain{
 border: 1px solid rgb(218, 211, 211);
 padding: 10px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
}
span+input{
display: block;
width: 95%;
}
#head{
 margin-top: 40px;
 font-size: 20px;
 
}
.robort{
 margin-top: 30px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 font-weight: bold;

}
#capcha{
 width: 25%;
 height: auto;
 display: flex;
 border: 1px solid rgb(184, 183, 183);
 justify-content: space-evenly;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;

}
#capcha>#cap{
 width: 40px;
 margin-left: 50px;
}
#capcha>#robocheck{
 margin: auto;
}

#submit{
 width: 50%;
 background-color: #2b2f59;
 color: white;
 font-style: normal;
 font-size: 20px;
 margin-top: 20px;
 
}

.consultant{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.tok>.SweetAlt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.tek>.Sweet{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
