#submain>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    
}
#submain{
 width: 55%;
 height: auto;
/* border: 1px solid red;  */
 margin: auto;
 padding: 10px;
}
input{
 padding: 10px;
 /* font-style:italic; */
}
.name{
 display: grid;
 width:45%;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}

.lastname{
display: grid;
width:45%;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}

#frstform{
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
 margin-top: 10px;
}
.mail{
 display: grid;
 width:45%;
 margin-bottom: 20px;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}
.pass{
 display: grid;
 width:45%;
 font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

}
.conpass{
display: grid;
width:45%;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;


}
#lastform{
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}
#secondsubmain{
 margin-bottom: 30px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 
}
.al{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-weight: bold;
}
#thirdsubmain{
 margin-bottom: 35px;
}
#fourthsubmain{
 border: 1px solid rgb(218, 211, 211);
 padding: 10px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 width: 95%;
}

#Reffer{
display: block;
width:200%;
}

#head{
 margin-top: 40px;
 font-size: 20px;
 
}
#head>h2{
    font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-weight: bold;  
}

.robort{
 margin-top: 30px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 font-weight: bold;

}
#capcha{
 width: 25%;
 height: auto;
 display: flex;
 border: 1px solid rgb(184, 183, 183);
 justify-content: space-evenly;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;


}
#capcha>#cap{
 width: 38px;
 height: 38px;
 margin: auto;
}
#capcha>#robocheck{
margin: auto;
}
#capcha>p{
    font-size: 15px;
    margin: auto;
}

#submit{
 width: 50%;
 background-color: #2b2f59;
 color: white;
 font-style: normal;
 font-size: 20px;
 margin-top: 20px;
 
}

.consultant{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.tok>.SweetAlt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.tek>.Sweet{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* here */

/* here */

#header{
    position: relative;
}
#submain{
    position: absolute;
    top:30%;
    left: 22%;
  
}

/* p */

.css-tooltip{
    position: relative;
    
  }
  .css-tooltip:hover:after{
    content:attr(data-tooltip);
    background:rgb(25, 23, 23);
    padding:5px;
    border-radius:3px; 
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-100%); 
    margin:0 auto;
    color:#FFF;
    min-width:100px;
    min-width:150px;
    top:-5px;
    left: 50%;
    text-align:center;
  }
  .css-tooltip:hover:before {
    top:-5px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 5px;
    margin-left: -5px;
    transform: translate(0,0px); 
  }
  
