
#head{
    width: 18%;
    height: auto;
  /* border: 1px solid blue; */
    margin-left: auto;
    padding-left: 5px;
    /* text-align: left; */
  
}
div>button{
    width: 100px;
    height: 100px;
}


#close{
 border-radius: 50%; 
 font-weight: bold;
  width: 40px;
  height: 40px;
  margin-left: 80%;
  margin-top: 20px;
  border: 2px solid;
}

#account{
    width: 50%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 40px;
    /* margin-left: -5px; */

}
#account>img{
    width: 35px;
    height: 35px;
    margin: auto;
}
#account>h2{
    font-size: 20px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
   
}
.sub{
    font-weight: bold;
}
ul{
    width: 40%;
    height: auto;

  
   
}
li{
   display: flex;
   /* margin-left: 30px; */
    /* border: 1px solid violet;  */
   margin-bottom: 10px;
   width: 200px;
   
  
}
li>img{
   width: 15%;
   /* margin-right: 20px; */
}

li>a{
   text-decoration: none;
   margin: auto;
   margin-left: 4px;
   color: black;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
#startbar{
    width:100%;
    height: 60px;
    background-color: #202340;
    text-align: center;
    color: white;

}
#text{
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#text>span{
font-size: 20px;
text-decoration: none;
}
#text>span>a{
text-decoration: none;
color: white;
}
#text>span>a:hover{
   text-decoration: underline;
}

#nav{
    height: 120px;
    width: 100%;
    /* border: 1PX SOLID rgb(241, 0, 0); */
    background-color:rgba(197, 200, 220, 0.5) ;


}

#row1{
    display: flex;
    justify-content: space-between;
}

#row1>DIV>img{
    height: 100%;
    width: 100%;
    /* border: 1px s/lid rgb(0, 0, 0); */     
}
#row1{
    height: 50%;
    width: 100%;
    /* border: 1px solid blue; */

}
#row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;

}
#icon{
    display: flex;
    justify-content: space-between;
}
#categ{
    width: 20%;
    height: 100%;
    /* border: 1px solid green; */
}
#Homeitem{
    display: flex;
    width: 45%;
    /* border: 1px solid green; */
    height: 100%;
    justify-content: space-between;
    margin-left: 30px;
}
#Homeitem>p>a{
    font-size: 18px;
    font-stretch: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;  
    text-decoration: none;  
    color: rgb(0, 0, 0);
      }
#icon{
    width: 30%;
    /* border: 1px solid green; */
    height: 100%;
    justify-content: space-around;
}
#icon>img{
    width: 40px;
}
#categ>img{
    width: 30px;
}
#row1>div:nth-child(2){
    display: flex;
    width: 40%;

}
#row1>div:nth-child(2)>input{
    width: 90%;
    border-radius:20px;
    height: 80%;
    margin-top: 5px;
    direction: none;
    border: 1px solid black;
    font-size: 20px;
}
#row1>div:nth-child(2)>div>img{
    margin-top: 5px;
    width: 80%;
    height: 80%;
}
#row1>div:nth-child(2)>div{
    /* background-color: red; */
    border-radius: 20px;
}
#head{
    background-color: white;
}
#header{
    position: relative;
}
#head{
    position: absolute;
    top:2%;
    left:82%;
}