body{
  
      scroll-behavior: smooth;
}
#startbar{
      width:100%;
      height: 60px;
      background-color: #202340;
      text-align: center;
      color: white;
   
}
#text{
      padding-top: 20px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
}
#text>span{
font-size: 20px;
text-decoration: none;
}
#text>span>a{
  text-decoration: none;
  color: white;
}
#text>span>a:hover{
     text-decoration: underline;
}

#nav{
      height: 130px;
      width: 100%;
      background-color: #f0f1f7;
      position: sticky;
      top: 0px;
      transition: 1s;
      box-shadow: 0 3px 4px rgb(0 0 0 / 20%);;
}

h6{
      font-size: 20px;
}
      #row1{
      display: flex;
      justify-content: space-between;
}

#row1>DIV>a>img{
      height: 100%;
      width: 100%;
      margin-left: 5px;
      margin-top: 5px;

      display: inline;
      border: 1px s/lid rgb(215, 17, 17);     
}
#row1>DIV>img{
      height: 100%;
      width: 100%;
      margin-left: -55px;
      display: inline;
      border: 1px s/lid rgb(215, 17, 17);     
}

#row1{
      height: 50%;
      width: 100%;
      /* border: 1px solid blue; */
      
    
}
#row2{
      display: flex;
      justify-content: space-between;
      align-items: center;
      vertical-align: middle;
      padding-top: 10px;
      /* border: 1px solid #000; */
      
}
#icon{
      display: flex;
      justify-content: space-between;
}
#categ{
      width: 20%;
      height: 30px;
      /* border: 1px solid green; */
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
}
#categ:hover{
      font-weight: 600;
      color: #2d346d;
}
#Select{
     width: 50%;
     /* margin-left: 5px; */
     height: 80%;
     border-radius: 5px;
     font-size: 16px;
     color: #000853;
     background-color: rgb(209, 206, 220);
     text-align: center;
   
}
#Homeitem{
      display: flex;
      width: 45%;
      /* border: 1px solid rgb(0, 0, 0); */
      height: 100%;
      justify-content: space-between;
      margin-left: 30px;
}
#Homeitem>div>a{
      font-size: 16px;
      font-stretch: 20px;
      font-family: 'Roboto', sans-serif;
    
      text-decoration: none;  
      color: rgb(0, 0, 0);
        }
#icon{
      width: 30%;
      /* border: 1px solid green; */
      height: auto;
    
      justify-content: space-around;
}
.log1,.log2{
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      width: 100px;
      text-align: center;
      border-radius: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(209, 209, 240);
     text-decoration: none;
     font-size: 19px;
     

      /* margin-top: 5px; */
}
.log1:hover,.log2:hover{
      background-color: #535ca3;
      color: white;
      

}
.log1>a:hover,.log2>a:hover{
      color: white;
}
.log1>a,.log2>a{
      text-decoration: none;
      margin-left: 5px;
      color: black;
     
}
#icon>div>a>img{
      width: 35px;
      text-decoration: none;
}
#categ>img{
      width: 30px;
}
#row1>div:nth-child(2){
      display: flex;
      width: 40%;

}
#row1>div:nth-child(2)>input{
      width: 90%;
      border-radius:20px;
      height: 80%;
      margin-top: 5px;
      direction: none;
      /* border: 1px solid black; */
      font-size: 20px;
}
#row1>div:nth-child(2)>div>img{
      margin-top: 5px;
      width: 80%;
      height: 80%;
}
#row1>div:nth-child(2)>div{
      /* background-color: red; */
      border-radius: 20px;
}

@media all and (min-width:500px) and (max-width:850px){
      #Homeitem{
            display: none;
            font-size: 70px;
      
      }
      
      #row2{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            vertical-align: middle;
            margin: auto;
            /* border: 1px solid #000; */
            
      }
      #startbar{
            width:100%;
            height: 60px;
            background-color: #202340;
            text-align: center;
            color: white;
            display: none;
         
      }
      #row1{
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
      
      #row1>DIV>img{
            height: 50%;
            width: 100%;
            /* border: 1px s/lid rgb(0, 0, 0); */     
      }
      #row1{
            height: 50%;
            width: 100%;
            /* border: 1px solid blue; */
          
      }
      }