 p{
      font-size: 16px;
      margin-bottom: 5px;
      font-family: sans-serif;
      font-weight: 550;
 }
 
                   /* complet page */
#mainpage{
      width: 55%;
      height: auto;
      border: 1px solid black;
      margin: auto;
      margin-top: 50px;
      border-radius: 20px;
}
#ordersum{
      width: 100%;
      height: 100px;
      border: 1px solid green;
}
#paymentpage{
      width: 98%;
      height: auto;
      padding:10px;
      border-radius: 20px;
      /* border: 1px solid red; */
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#paymentpage>p{
      background-color: rgb(180, 195, 240);
      font-size: 40px;
      text-align: center;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 5px;
      font-size: 20px;
      height: auto;
}
                                   /* name boxes */
#name
{
      display: flex;
}
#name >div>input
{
      width: 120%;
   font-size: 16px;
      padding: 10px;
       /* padding-left: 60px; */
      text-align: center;
      border-radius: 5px; 
}
#name >div:nth-child(2)
{
      margin-left: 20%;
}

                                  /* email box */
#email>input
{
      padding:10px;
      font-size: 16px;
       /* padding-left: 17%; */
       width: 40%;
       border-radius: 5px;

}
#email>input>placeholder
{
      font-size: 5px;
}
                                  /* card information */
#cardvalue
{
      display: flex;
}
#cardvalue>div
{
      /* border: 1px solid black; */
      margin-left: 30px;
      width: 40%; 
}
#cardvalue>input{
      padding: 10px;
      /* padding-left: 60px; */
      width: 40%;
      border-radius: 5px;
      font-size: 16px;
}
                                   /* card logos */
#cardvalue>div>img{
      width: 50px;
      height: 30px;
      margin-left: 5px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
                                  /* expiry Details */
#expirydetails{
      display: flex;
      
}
#expirydetails>div{
      margin-right: 80px;
}
#expirydetails>div:nth-child(1)>input{
      padding: 5px;
      width:120%;
      font-size: 16px;
}
                                  /* cvv */

#expirydetails>div:nth-child(2)>input{
      padding: 5px;
      width: 40%;
      font-size: 16px;
}
                                /* contry Selector */
#contry>select{
      width: 75%;
      padding: 8px;
      font-size: 16px;
}
#combine{
     display: flex;
}
#total{
      display: flex;
      /* width: 40%; */
      margin-top: 50px;
      
}
#total>input{
      width: 200px;
      height: 40px;
      margin-left: 20px;
      font-size: 25px;
      text-align: center;
      margin-top: 20px;
}
#total>p{
      font-size: 28px;
}
                                 /* checkbox */
#checkbox{
      width: 100%;
      /* height: 80px; */
      margin-top: 10px;
      margin-bottom: -40px;
      font-size: 16px;
      display: inline;
}  
#checkbox>input{
      width: 40px;
      height: 18px;
      /* margin-top: 15px; */
}


#checkbox:hover{
      color: rgb(233, 18, 18);
      font-weight:700;
}

                       /* payment Button */
#paymentbtn{
      width: 70%;
      margin: auto;
}
#paymentbtn>input{
      width: 100%;
      margin: auto;
      padding: 10px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      /* border: none; */
      border-radius: 10px;
      background-color: rgb(15, 177, 15);
      background-color: rgb(180, 195, 240);
      color: white;
      font-size: 15px;
      color: black;
}
#paymentbtn>input:hover{
    
      font-size: 16px;
      background-color: green;
      color: white;
      
}