#main{
    width: 50%;
    /* border: 1px solid chartreuse; */
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

}
#submain{
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}
input{
    padding: 10px;
    margin-bottom: 10px;
}
label{
    font-size: 12px;
}
#submail{
/* border: 1px solid violet; */
width: 45%;

}
#info{

/* border: 1px solid rgb(52, 52, 149); */
width: 45%;
}
.mail{
display: grid;

}
.pass{
display: grid;

}
#info>p{
font-size: 12px;

}
#info>h2{
font-size: 16px;
font-weight: normal;

}
#submit{
width: 100%;
background-color: #2b2f59;
color: white;
font-weight: bold;
}

