*{
    font-family: 'Roboto', sans-serif;
}

body{
   margin: 0px;
}
#mainbody{
    display: flex;
}
.cursor{
    cursor: pointer;
}
.page_info{
    color: #6C6D70;
    font-size: 12px;
    margin-left: 9px;
}
.page_exiter{
    color: white;
    font-size: 8px;
    background-color: #2E2C38;
    padding: 3px;
    border-radius: 50%;
    font-weight: bold;
}
.separator{
    font-weight: 1000;
}
.product_sorting{
    border-top: 1px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;
    padding: 15px 0px 15px 20px;
    color: #202340;
    font-size: 14px;
}
.sorting_button{
    font-weight: bold;
    border: 0px;
}
.one_cart_logo{
    background-color: #fff;
    min-width: 260px;
    max-width: 275px;
    border-right: 1px solid #f0f1f7;
    display: flex;
    align-items: center;
    padding: 10px 0px 20px 15px;
    border-bottom: 2px solid #d5d5d5;
}
.one_cart_logo>img{
    width: 100px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.one_cart_logo>input{
    height: 20px;
    width: 20px;
}
.hover:hover{
    color: rgb(12, 177, 177);
}
.count{
    font-size: 11px;
    font-weight: 400;
    margin-top: 4px;
}
#category_list{
    background-color: #fff;
    min-width: 260px;
    max-width: 275px;
    border-right: 1px solid #f0f1f7;
}
.check_items>div>input{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: #fff;
}
.check_items>div{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #2E2C38;
    margin-left: 15px;
    margin-right: 15px;
}
.check_items>div:last-child{
    margin-top: -20px;
    position: relative;
    border-bottom: 1px solid #edebeb;
}
.info_logo>img{
    height: 15px;
    width: 13px;
    margin-left: -2px;
    margin-right: 7px;
}
.category_type_margin{
    margin: 10px 15px 10px 15px;
    border-bottom: 1px solid #edebeb;
    padding-right: 30px;
}
.expanded_button{
    border: none;
    background: none;
    font-size: 16px;
    color: #202340;
}
.list_items{
    font-size: 13px;
    color: #2E2C38;
    line-height: 24px;
    list-style-type: none;
}
.custom_price_range>input{
    width: 42px;
    height: 40px;
    padding-left: 10px;
    background: none;
    border: 1px solid #202340;
    border-radius: 2px;
    font-style: italic;
}
.custom_price_range>button{
    height: 45px;
    width: 30px;
    padding: 10px 5px 10px 5px;
    background: none;
    margin-left: 7px;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid #202340;
    border-radius: 2px;
}
.custom_price_range>button:hover{
    background-color: #202340;
    color: white;
}
#feedback_form{
    padding: 5px 10px 20px 10px;
    background-color: #f0f1f7;
}
#feedback_form>p{
    font-size: 12px;
}
textarea{
    border-radius: 2px;
    width: 90%;
    font-style: italic;
    font-size: .875rem;
    padding: 10px;
}
textarea:focus-visible{
    outline: 1px dashed #202340;
    outline-offset: 5px;
}
textarea::placeholder{
    color: #202340;
}
#feedback_form>button{
    font-size: .875rem;
    color: #202340;
    cursor: pointer;
    padding: 0.75em 15px;
    border-radius: 2px;
    border: 1px solid #202340;
    background-color: #fff;
    display: inline-block;
    font-weight: 700;
    margin: 30px 30px 5px 40px;
}
#feedback_form>button:hover{
    background-color: #202340;
    color: white;
}
                /* product container */

#products_container{
    margin: 20px 20px 20px 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
    height: fit-content;
}
#products_container>div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-top: 30px;
    height: fit-content;
}
#products_container>div>img:first-child{
    width: 100%;
    cursor: pointer;
}
#products_container>div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product_name{
    color: #2E2C38;
    font-size: 16px;
    margin: 5px 20px 0px 20px;
    cursor: pointer;
    height: 55px;
}
.product_name:hover{
    color: #00a8ca;
    background-color: #f0f1f7;
}
/* .product_name>p{
    text-overflow:clip;
} */
.product_name+img{
    width: 15px;
    margin: 5px 5px -2.5px 20px;
}
img+p{
    display: inline-block;
    font-size: 12px;
    margin-top: 0px;
}
img+p+p{
    margin-top: -2px;
    margin-bottom: 0px;
}
p+p>span:first-child{
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 20px;
    margin-right: 5px;
}
.price{
    color: #202340;
    font-weight: bold;
    font-size: 15px;
}
.cashback_text{
    font-size: 12px;
    display: inline;
    margin-left: 20px;
}
.cashback_text+img{
    width: 13px;
    margin-left: 5px;
    margin-right: 5px;
    margin: 0px 5px -2px 5px
}
img+span{
    font-size: 12px
}
                /* Products Button */

.products_button{
    display: flex;
    margin-top: auto;
    height: 40px;
    margin-top: 20px;
}
.products_button>div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85em;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.products_button>div:first-child{
    border-top: 1px solid #c3c3c9;
    color: #2e2c38;
    background-color: #f0f1f7;
}
.products_button>div:first-child:hover{
    background-color: #dadbe6;
}
.products_button>div:last-child{
    border: 1px solid #414467;
    background-color: #414467;
    color: #fff;
}
.products_button>div:last-child:hover{
    border: 1px solid #202340;
    background-color: #202340;
}
             /* Media Queries for Products display */


@media all and (min-width: 901px) and (max-width: 1150px) {
    #products_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media all and (min-width: 551px) and (max-width: 900px) {
    #products_container{
        grid-template-columns: repeat(1,1fr);
    }
    #products_container>div{
        min-width: 300px;
    }
}
@media all and (min-width: 100px) and (max-width: 550px) {
    #products_container{
        grid-template-columns: repeat(1,1fr);
    }
    #category_list{
        display: none;
    }
    .one_cart_logo{
        min-width: 270px;
    }
    #mainbody{
        flex-wrap: wrap;
    }
    #products_container>div{
        min-width: 270px;
    }
}
            /* ----------Footer-----------  */

#footer_body{
    margin-top: 60px;
    background-color: #f0f1f7;
}
.email_subscriber_andlink, .services_and_social_media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #545871;
    color: #fff;
    flex-wrap: wrap;
    border-bottom: 1px solid #939394;
}
.email_subscriber_andlink>div{
    margin: 10px 15px 10px 15px;
    font-size: 13px;
}
.mypage_link{
    color: #fff;
}
.email_subscriber_andlink>div>input{
    margin-left: 15px;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    width: 40ex;
    margin-top: 0;
    height: 25px;
    background-color: #fff;
    color: #202340;
}
.email_subscriber_andlink>div>button{
    margin-left: -10px;
    border-radius: 0 2px 2px 0;
    height: 25px;
    min-height: 0;
    border: none;
    background-color: #f0f1f7;
    color: #2e2c38;
    cursor: pointer;
    margin-bottom: -5px;
}
.email_subscriber_andlink>div>button:hover{
    background-color: rgb(59, 59, 59);
    color: #fff;
}
.services_and_social_media>div{
    margin: 10px 15px 5px 15px;
    display: flex;
    flex-wrap: wrap;
}
.services_and_social_media>div>div{
    border-right: 1px solid #6C6D70;
    padding: 0px 5px 0px 5px;
    font-size: .75rem;
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}
.services_and_social_media>div>img{
    width: 25px;
    margin: 5px;
}
.policy{
    margin-left: 10px;
    border-bottom: 2px solid #f0f1f7;
}
.policy>a{
    color: #2E2C38;
    font-size: .75rem;
}
.policy>p{
    font-size: .6875rem;
    line-height: 10px;
}
.footer_awards{
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_awards>img{
    width: 75px;
    height: 70px;
    margin: 20px 5px;
}
.footer_awards>img:nth-child(7),.footer_awards>img:nth-child(8),.footer_awards>img:nth-child(9){
    width: 100px;
}